.backboard{
  height: 100%;
  width: 100%;
}

#board{
  position:absolute;
  left:5%;
  top:5%;
  width:95%;
  height:95%
}

.piece {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
}

.cell {
  position: absolute;
  height: 100%;
  width: 100%;
}

.r {
  border-right: 2px solid black;
}
.b {
  border-bottom: 2px solid black;
}
.t {
  border-top: 2px solid black;
}
.l {
  border-left: 2px solid black;
}

.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}
