.backboard{
  height: 150%;
  width: 150%;
}

#background{
  position:absolute;
  width:100%;
  height:100%;
  overflow: scroll;
}


#board{
  position:absolute;
  left:0.7%;
  top:0.5%;
  width:150%;
  height:150%
}

.click{
  position: absolute;
  left:25%;
  top:25%;
  height: 50%;
  width: 50%;
  cursor: pointer;
}

.piece {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
}

.cell {
  position: absolute;
  height: 100.1%;
  width: 100.1%;
}

.r {
  border-right: 2px solid black;
}
.b {
  border-bottom: 2px solid black;
}
.t {
  border-top: 2px solid black;
}
.l {
  border-left: 2px solid black;
}

.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}
